{% extends 'base.html.twig' %}

{% block body_id 'blog_index' %}

{% block main %}

    	
  

		 <!-- Icons Grid -->
	    <section class="features-icons bg-light text-center">
	        <div class="row">
	          <div class="col-lg-4">
	          	 <h3>Mini algoritmo  1</h3>
	             <code>
	             	var arr = [1,2,[[3]],4];  
	             	function take(num){
	             		if(typeof num === 'number'){
	             			return num
	             		}else{
	             			return   take(num[0])
	         			} 
	         		};

	         		var newarr = []; 
	         		for(var i in arr){  
	         		 	newarr.push(take(arr[i]));
	         		} 
	         		console.log(newarr);
	             </code>
	          </div>
	          <div class="col-lg-4">
	              <h3>Mini algoritmo  2</h3>
	             <code>
	             	var str = "Buongiorno mi chiamo Paolo";  		var tt = str.split(" ");   		var masgrande = " "; 	for(var i in tt){ if(tt[i].length > masgrande.length){ masgrande = tt[i]	} }; console.log(masgrande);
	             </code>
	          </div>
	          <div class="col-lg-4">
	            <h3>Mini algoritmo  3</h3>
	            <code>
	             	var array1 = [ 1, 2, 3,4,5 ]
					var array2 = [ 2 ,5 ].map(e => e);

					var result = array1.filter(e => array2.includes(e));
					console.log(result)
	             </code>
	          </div>
	        </div>
	    </section>
	    
	    <!-- Masthead -->
	    <div class="jumbotron">
		    <header class="masthead text-white text-center ">
		      <div class="container">
		        <div class="row">
		          <div class="col-xl-9 mx-auto">
		            <h1 class="mb-5">Lorem!</h1>
		          </div>
		          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
		            <form>
		              <div class="form-row">
		                <div class="col-12 col-md-9 mb-2 mb-md-0">
		                  <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
		                </div>
		                <div class="col-12 col-md-3">
		                  <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
		                </div>
		              </div>
		            </form>
		          </div>
		        </div>
		      </div>
		    </header>
		</div>

	   

	    <!-- Image Showcases -->
	    <section class="showcase">
	      <div class="container-fluid p-0">
	        <div class="row no-gutters">

	          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://thumbs.dreamstime.com/b/traveler-enjoy-gondora-venice-italy-gondora-cast-to-take-traveler-to-see-along-side-river-golden-124388274.jpg');"></div>
	          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
	            <h2>Fully Responsive Design</h2>
	            <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
	          </div>
	        </div>
	        <div class="row no-gutters">
	          <div class="col-lg-6 text-white showcase-img" style="background-image: url('https://thumbs.dreamstime.com/b/golden-hour-santa-magdalena-village-alpine-valley-v-landscape-dolomites-alps-sunset-time-123388818.jpg');"></div>
	          <div class="col-lg-6 my-auto showcase-text">
	            <h2>Updated For Bootstrap 4</h2>
	            <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
	          </div>
	        </div>
	        <div class="row no-gutters">
	          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('https://thumbs.dreamstime.com/b/sunset-dolomite-alps-italy-landscape-rosetta-mountain-san-martino-di-castrozza-135734098.jpg');"></div>
	          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
	            <h2>Easy to Use &amp; Customize</h2>
	            <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
	          </div>
	        </div>
	      </div>
	    </section>

	    <!-- Testimonials -->
	    <section class="testimonials text-center bg-light">
	      <div class="container">
	        <h2 class="mb-5">What people are saying...</h2>
	        <div class="row">
	          <div class="col-lg-4">
	            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
	              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
	              <h5>Margaret E.</h5>
	              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
	            </div>
	          </div>
	          <div class="col-lg-4">
	            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
	              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
	              <h5>Fred S.</h5>
	              <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
	            </div>
	          </div>
	          <div class="col-lg-4">
	            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
	              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
	              <h5>Sarah	W.</h5>
	              <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>


    

    
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
